<%= render 'bridge_test' %>

<div style="padding: 10px;">
  <%= render 'post' %>
  <%= render 'post' %>
  <%= render 'post' %>
  <%= render 'post' %>
  <%= render 'post' %>
  <%= render 'post' %>
  <%= render 'post' %>
  <%= render 'post' %>
</div>
