<div style="background: #F6F2E7; padding: 10px;">
  <div style="text-align: center;">
    <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/bermonpainter/128.jpg" style="width: 82px; height: 82px;" >
    <h3>Peter Parker</h3>
    <p>I do web design</p>
    <a href="inapp://capture?x_action=myAction" class="btn btn-sm btn-success">Follow</a>
    <br><small class="text-muted">This action is triggered by a custom URL</small>
  </div>
</div>
<div style="padding: 10px;">
  <%= render 'post' %>
  <%= render 'post' %>
  <%= render 'post' %>
  <%= render 'post' %>
  <%= render 'post' %>
  <%= render 'post' %>
  <%= render 'post' %>
  <%= render 'post' %>
</div>
