<%= render 'bridge_test' %>

<div style="background: #F6F2E7; padding: 10px;">
  <div style="text-align: center;">
    <img class="img-circle" src="http://f.cl.ly/items/1A1V3L1F0A0G263I0R0L/4.png" style="width: 82px; height: 82px;" >
    <h3>Peter Parker</h3>
    <p>I do web design</p>
    <a href="inapp://capture?x_action=myAction" class="btn btn-sm btn-success">Follow</a>
    <br><small class="text-muted">This action is triggered by a custom URL</small>
  </div>
</div>
<div style="padding: 10px;">

<%= render 'post' %>
<%= render 'post' %>
<%= render 'post' %>
<%= render 'post' %>
<%= render 'post' %>
<%= render 'post' %>
<%= render 'post' %>
<%= render 'post' %>

</div>