<div style="padding: 10px;">
  <p>
    <input type='text' class="form-control" placeholder="Search..." />
    <small class="text-muted">Search doesn't work, so here are some random result:</small>
  </p>
  <div class="list-group">

    <a class="list-group-item" href="/design/post?x_push_page=true&x_page_title=Post"><%= random_title %></a>
    <a class="list-group-item" href="/design/post?x_push_page=true&x_page_title=Post"><%= random_title %></a>
    <a class="list-group-item" href="/design/post?x_push_page=true&x_page_title=Post"><%= random_title %></a>
    <a class="list-group-item" href="/design/post?x_push_page=true&x_page_title=Post"><%= random_title %></a>
    <a class="list-group-item" href="/design/post?x_push_page=true&x_page_title=Post"><%= random_title %></a>
    <a class="list-group-item" href="/design/post?x_push_page=true&x_page_title=Post"><%= random_title %></a>
    <a class="list-group-item" href="/design/post?x_push_page=true&x_page_title=Post"><%= random_title %></a>
    <a class="list-group-item" href="/design/post?x_push_page=true&x_page_title=Post"><%= random_title %></a>
  </div>
</div>